<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
		  value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
	<appender name="redisClusterAppender" class="com.twm.ips.log4j.appender.RedisClusterAppender">
		<layout class="com.twm.ips.log4j.layout.LogstashJsonEventLayout">
			<!-- systemID and serviceName must be lowercase, Because elasticsearch doesn't allow the uppercase index name -->
			<param name="serviceName" value="acb" />
			<param name="systemID" value="ips" />
			<param name="localTimeZone" value="UTC" />
		</layout>
		<param name="hosts" value="172.16.24.240[30001,30002,30003,30004,30005,30006]" />
		<param name="key" value="acb" />
		<param name="period" value="30000" />
		<param name="archivePeriod" value="30000" />
		<param name="batchSize" value="20" />
		<param name="archiveOnFailure" value="/tmp/redisCluster.log" />
		<param name="batchPush" value="true" />
		<param name="Threshold" value="INFO"/>
	</appender>
	
	<logger name="redisClusterLogger" additivity="false">
		<!-- The value attribute of level must be "INFO", Don't change it -->
		<level value="INFO" />
		<appender-ref ref="redisClusterAppender" />
	</logger>
	
<!-- 	<logger name="com.twm.ips.log"> -->
<!-- 		<level value="INFO" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->

	<root>
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>